# ASPNETCORE
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ALLOW_SPECIFIC_ORIGINS=http://localhost:4200,http://localhost:3000     # CORS Policy

# ACCOUNT SERVICE DATABASE
MARIADB_PORT=3306
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_USER_TO_CONNECTION=root
MYSQL_ROOT_PASSWORD=
MARIADB_DATABASE=account_service
MARIADB_SERVER=db-account-service

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
# Las colas y exchanges se añaden al implementar la mensajería del servicio.
