# ASPNETCORE
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080

# ACCOUNT SERVICE DATABASE
MARIADB_PORT=3306
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_USER_TO_CONNECTION=root
MYSQL_ROOT_PASSWORD=
MARIADB_DATABASE=account_service
MARIADB_SERVER=db-account-service

# CLOUDINARY API
CLOUDINARY_URL=

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
# Las colas y exchanges se añaden al implementar la mensajería del servicio.
RABBITMQ_QUEUE_AUTH_TO_ACCOUNT=
RABBITMQ_EXCHANGE_AUTH_SERVICE=
RABBITMQ_QUEUE_AUTH_TO_ACCOUNT_CREATE=
RABBITMQ_EXCHANGE_AUTH_TO_ACCOUNT_CREATE=
RABBITMQ_QUEUE_AUTH_TO_ACCOUNT_DELETE=
RABBITMQ_EXCHANGE_AUTH_TO_ACCOUNT_DELETE=