# ================== ASP.NET Core ==================
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080

# ================== MySQL (contenedor db-auth-service) ==================
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=peaker_auth
MYSQL_USER=
MYSQL_PASSWORD=

# ================== auth-service (configuración .NET, claves con __) ==================
ConnectionStrings__AuthDatabase=Server=db-auth-service;Port=3306;Database=peaker_auth;Uid=<MYSQL_USER>;Pwd=<MYSQL_PASSWORD>
Messaging__Host=rabbitmq
Messaging__Port=5672
Messaging__Username=
Messaging__Password=
Messaging__VirtualHost=/

# ================== RabbitMQ (contenedor rabbitmq) ==================
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
