# ================== ASP.NET Core ==================
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080

# ================== YARP: destinos de los clusters (red interna de compose) ==================
ReverseProxy__Clusters__auth__Destinations__auth-service__Address=http://auth-service:8080/
ReverseProxy__Clusters__account__Destinations__account-service__Address=http://account-service:8080/
ReverseProxy__Clusters__peak__Destinations__peak-service__Address=http://peak-service:8080/

# ================== Validación JWT (JWKS del auth-service) ==================
Jwt__Authority=http://auth-service:8080
Jwt__Issuer=peaker-auth
Jwt__Audience=peaker-api
Jwt__RequireHttpsMetadata=false
