# ASPNETCORE
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
ALLOW_SPECIFIC_ORIGINS=http://localhost:4200,http://localhost:3000     # CORS Policy

# PEAK SERVICE DATABASE (PostgreSQL + PostGIS)
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=peak_service
POSTGRES_SERVER=db-peak-service

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
# Las colas y exchanges se añaden al implementar la mensajería del servicio.
